@import "tailwindcss";

/* App.css or index.css */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes heartPop {
  0% {
    transform:  scale(0.5);
    opacity: 0.4;
  }
   50% {
    transform:  scale(1.3);
    opacity: 1;
  }
   100% {
    transform:  scale(1);
    opacity: 0;
  }
}

.heart-animation {
  animation: heartPop 1.5s ease-out forwards;
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

